p.SoNet{
    color: white;
    font-size: 30px;
}
.searchButton{
    margin-left:15px; 
}
#icona{
    margin-left:15px; 
    font-size: 28px
}
a.visited{
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 70px;
}
.hello{
    word-spacing: 10px;
    display: inline;
    padding: 20px;
    position: relative;
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
    margin-top: 10px
}
.headings{
    color:white;
    font-size: 25px;
}
.vids{
    display: inline-block
}
.image{
width: 300px;
height: 300px;
display:inline;
float:left;
mar
}
#im1{
    width: 100px;
    height: 100px;
    float: left;
}
#im2{
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
}
#im3{
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px
}
#im4{
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px
}
.vids{
    display: inline-block
}
